/ validation summary
- if @article.errors.any?
  - @article.errors.full_messages.each do |msg|
    = msg

/ team information form
= form_for @article, :url => wizard_path, :method => :put do |t|
  = t.hidden_field :title, :value => "Description Article Of The Team"
  = t.text_area :content
  = t.submit