!!! 5
%html
  %head
    %title= Settings.team_name
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %h1= Settings.team_name
  = render "menu"
  = yield
